<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CreateBooking</title>
    </head>
    <body>
        <div class="container">
			<header>
				<h1><strong>Booking Creation</strong></h1>
			</header>
			
			<section class="main">
				<form class="form-2" action="/booked" method="post">
					<h1><span class="log-in">Create</span></h1>
					<p class="float">
						<label for="nodalCenter">Nodal Center</label>
						<input type="text" name="nodalCenter" placeholder="Nodal Center">
					</p>
					<br>
					<p class="float">
						<label for="date">Date</label>
						<input type="text" name="date" placeholder="Date">
					</p>
					<br>
					<p class="float">
						<label for="time">Time</label>
						<input type="text" name="time" placeholder="Time">
					</p>
					<br>
					<p class="clearfix">     
						<input type="submit" name="submit" value="Create">
					</p>
				</form>​​
			</section>
			
        </div>
    </body>
</html>