<!DOCTYPE html>
<html>
<head>
	<title>Result</title>
</head>
<body style="background-color:#A1887F">
	<div class ='container' align ='center'>
		<br><br><hr>
		<h1><Strong>Enrollment unsuccessful !!!</Strong></h1>
		<hr>
		<br>
		<a href ="/enroll">Click Here ! </a> to enroll again.
	</div>
</body>
</html>