
<section once="" class="cid-qJEayPOjLL mbr-reveal" id="footer7-t"> 

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">                  
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="/aboutUs">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <strong><a class="text-white mbr-bold" href="/contactUs">Contact<em> </em>Us</a></strong>
                    </li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white mbr-bold" href ="/stats"><strong>Stats</strong></a></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">                   
                    
                <div class="soc-item">
                        <a href="https://twitter.com" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.instagram.com" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2018 Creators Hub - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="web/assets/jquery/jquery.min.js"></script>
  <script src="popper/popper.min.js"></script>
  <script src="tether/tether.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="smoothscroll/smooth-scroll.js"></script>
  <script src="touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="parallax/jarallax.min.js"></script>
  <script src="mbr-flip-card/mbr-flip-card.js"></script>
  <script src="dropdown/js/script.min.js"></script>
  <script src="theme/js/script.js"></script>
  
  
</body>
</html>