<% include header.ejs %>

<section class="cid-qJDH0D62Ji mbr-fullscreen mbr-parallax-background" id="header2-l">

    <div class="container align-center" >
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1" style="color : black">YUVA NIRMAAN</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5"></p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary-outline display-5" href="/admin">Admin</a>
                    <a class="btn btn-md btn-secondary-outline display-5" href="/user">User</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features2 cid-qJE0eODlN3" id="features2-n">   
    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="images/mbr-1691x1080.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">One to One Interaction</h4>
                        <p class="mbr-text mbr-fonts-style display-7">User and Professional can have face to face talk regarding career guidance and skill developments.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="images/app-1500x1083.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Online Appointments</h4>
                        <p class="mbr-text mbr-fonts-style display-7">User can book online appointments with the professionals. They can either go meet them in personal or can have online chats.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="images/yourstory-skill-develop-800x400.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Skill Development</h4>
                        <p class="mbr-text mbr-fonts-style display-7">User can enroll in our courses and can develop skills which will help them in getting jobs and improving their living standards.</p>
                    </div>
                </div>
        </div>
    </div>
</section>

<section class="features15 cid-qJE8q4udMZ" id="features15-s">
s
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Developed By&nbsp;</h2>

        <div class="media-container-row container pt-5 mt-2">

            <div class="col-12 col-md-6 mb-4">
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="images/jumbotron.jpg" alt="Mobirise">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title display-5 py-2 mbr-fonts-style">
                            Shivam</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Leader<br>CSE, 3rd Year<br>BIT Mesra, Ranchi</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-4">
                
                <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                        <img src="images/img-20171222-150150-4640x2610.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card_back card_cont">
                        <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Piyush Kumar</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Member<br>IT, 3rd Year<br>BIT Mesra, Ranchi</p>
                    </div>
                </div>
            </div>
           
        </div>
</div>
</section>


<% include footer.ejs %>