<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    	$('#geolocation').hide();
    	$('#track').show();
    </script>
  </head>
  <body>
  	<div id ='geolocation'>
    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        var lat,lng;
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var lat;
            var lng;
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            lat=pos.lat;
            lng=pos.lng;
            var origin = lat+' '+lng;
            document.getElementById('val').innerHTML = origin;
            //console.log(origin);
            infoWindow.setPosition(pos);
            infoWindow.setContent('Your Current Location');
            infoWindow.open(map);
            map.setCenter(pos);

          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD18to1SISoABV2pzXMH79XK0sJ3hUteQA
		&callback=initMap">
    </script>
</div>
<div id ='track'>
	<iframe
  			width="1350"
  			height="600"
  			frameborder="0" style="border:0"
  			src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyD18to1SISoABV2pzXMH79XK0sJ3hUteQA&origin=+'bit mesra'+&destination=<%= nodal[0].nodalCenter%>"
  		 allowfullscreen>
	</iframe>
</div>
 </body>
</html>