<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Time</title>
    </head>
    <body>
        <div class="container">
			<a href ="/timeBooking">Click here!</a> to book time.
        </div>
    </body>
</html>